html, body {
    background-color: rgb(29, 30, 45);
    /* color: white; */
    font-family: 'Poppins', 'Times New Roman';
}

hr {
    margin-top: auto;
    border-width: 2px;
    background-color: rgb(209, 92, 196);
}

#card {
    background-color: rgb(39, 41, 59);
    color: white;
    /* margin-left: 15%;
    margin-right:30%; */
    font-size: 120%;
}

#card label {
    color: rgb(206, 212, 220);
}

#card input {
    background-color: rgb(30, 37, 57);
    color: rgb(236, 236, 236);
    border-color: rgb(44, 53, 81);
}

.form-group {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.pink-background {
    background-image: linear-gradient(to bottom right, rgb(180, 94, 221), rgb(209, 92, 196));
    border-color: rgba(0, 0, 0, 0);
}

button {
    margin-left: 5%;
    margin-bottom: 3%;
}

button:hover {
}

a:hover { 
    color: white;
}

.navbar a {
    color: white;
}

nav {
    margin-left: 1%;
    margin-right: 1%;
}

.left-side {
    background-image: linear-gradient(to bottom right, rgb(173, 94, 236), rgb(209, 92, 197));
    margin-left: 2.5%;
    height: 930px;
    width: 200px;
    position: fixed;
    color: white;
    font-size: 120%;
    text-align: center;
}

.left-side p {
    margin-top: 5%;
}

.left-side hr {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.container-fluid {
    margin-left: 15%;
    width: 85%;
}

#card2 {
    margin-left: 1%;
    margin-right: 1%;
}

.table-dark {
    margin-top: 2%;
    font-family: 'Poppins', 'Times New Roman';
    color: #fff;
    background-color: rgb(30, 37, 57);
    font-size: 90%;
}

#video_pop {
    margin-left: 1%;
}

#card3 {
    margin-left: 1%;
    margin-right: 1%;
    color: white;
}